@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "Dash";
}
@model List<E_Project_Pharmacy.Models.user_resume>;

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Education</th>
            <th>Show Resume</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
  
        @foreach (var value in Model)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center">

                        <div class="ms-3">
                            <p class="fw-bold mb-1">@value.r_name</p>

                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">@value.r_email</p>

                </td>
                <td>
                    <span class="">@value.r_country</span>
                </td>
                <td>
                    <span class="">@value.r_location</span>
                </td>
                <td>
                    <span class="">@value.r_phone</span>
                </td>
                <td>
                    <span class="">@value.r_edu</span>
                </td>
                <td>
                    <a asp-route-id="@value.r_id" asp-action="show_resume" asp-controller="Dashboard" class="btn btn-danger btn-sm btn-rounded">
                        Show Resume
                    </a>
                </td>
                <td>
                    <a asp-route-id="@value.r_id" asp-action="about_update" asp-controller="Dashboard" class="btn btn-primary btn-sm btn-rounded">
                        Delete
                    </a>
                </td>
            </tr>

            }
       
    </tbody>
</table>

