@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="content mt-5 mb-5">


    <!-- Table Start -->
    @if(add_list.cart.Count.ToString() != "0"){
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
               
                    @foreach (Add_to_cart item in add_list.cart)
                    {
                        @if(item.user_id == ClassSessionUser.UserId){
                        int gettotal = Int32.Parse(item.add_qty.ToString()) * Int32.Parse(item.add_price.ToString());
                        <tr>
                            <td>
                                <span class="" id="@item.add_id.ToString()">@item.add_id.ToString()</span>
                            </td>
                            
                            <td>

                                <div class="ms-3">
                                    <p class="fw-bold mb-1" id="name_@item.add_id.ToString()">@item.add_name.ToString()</p>

                                </div>
                            </td>
                            <td>
                                <input type="number" id="qty_@item.add_id.ToString()" value="@item.add_qty.ToString()" />

                            </td>
                            <td>
                                <span class="" id="price_@item.add_id.ToString()">@item.add_price</span>
                            </td>
                            <td>
                                <span class="" id="tprice_@item.add_id.ToString()">@gettotal.ToString()</span>
                            </td>

                            <td>
                                <a asp-route-id="@item.add_id.ToString()" asp-action="order_delete" asp-controller="Home" class="btn btn-danger btn-sm btn-rounded">
                                    Delete
                                </a>
                            </td>
                           



                        </tr>
                    }
                    }

                <tr>
                    <td colspan="5" style="text-align: right;font-weight:bold">Grand Total:</td>
                    <td><span id="grand_total"></span></td>
                </tr>
                <tr class="p-5">

                    <td colspan="5"></td>
                   
                    <td><a asp-action="order" asp-controller="Home" class="btn btn-secondary">Cheak Out</a></td>

                </tr>
               
                <script>
                    $(document).ready(function () {
                        function updateGrandTotal() {
                            var grandTotal = 0;
                            $('[id^=tprice_]').each(function () {
                                grandTotal += Number($(this).text());
                            });
                            $("#grand_total").text(grandTotal);
                        }

                        $('[id^=qty_]').bind('keyup mouseup', function () {
                            var id = $(this).attr('id').split('_')[1];
                            var getprice = $("#price_" + id).text();
                            var getqtt = $(this).val();
                            var total = Number(getprice) * Number(getqtt);
                            $("#tprice_" + id).text(total);

                            var value = { "price": getprice, "qty": getqtt, "code": id };
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("updatecart", "Home")',
                                data: value,
                                success: function (data) {
                                    updateGrandTotal();
                                },
                                error: function () {
                                    alert("Data not updated");
                                }
                            });
                        });

                        // Initial calculation of grand total on page load
                        updateGrandTotal();
                    });
                </script>




        </tbody>
        </table>
    }
    else
    {
        <div class="container w-100 d-flex justify-content-center">
        <h1 class="m-auto">Your Cart Is Empty</h1>
        </div>

    }

   

</div>